<div >
  <h1>New Member</h1>
</div>
  <div class="member-edit-form">

    <form action="/members" method="post">
      <label for="title">Title</label>
      <select id="title" name="title">
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Ms">Ms</option>
        <option value="Sir">Sir</option>
        <option value="Dr">Dr</option>
      </select>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="first_name" placeholder="Your name.." required>

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="last_name" placeholder="Your last name.." required>

      <label for="address">Address</label>
      <textarea id="address" name="address" placeholder="Your address.." required></textarea>

      <label for="dob">DoB</label><br>
      <input type="date" id="dob" name="dob" required>

      <input type="submit" value="Save">
    </form>

  </div>
