<div >
  <h1>New class</h1>
</div>

<div class="even-new-form">

<form action="/events" method="post">

    <label for="event_type">Class</label>
    <input type="text" id="event_type" name="event_type" placeholder="Class.." required>

    <label for="event_date">Date</label> <br>
    <input type="date" id="event_date" name="event_date" required> <br>

    <label for="event_time">Time</label>    <br>
    <input type="time" id="event_time" name="event_time" required> <br>

    <label for="event_caps">Capacity</label>  <br>
    <input type="number" id="event_caps" name="event_caps" required><br>

    <input type="submit" value="Save">
  </form>

  </div>
